*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(10px + 0.5vw);
}

.homepage > h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Pixelify Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:  150px;
    padding: 4%;
}

.nav1,
.nav2,
.nav3 {
    margin: 15px;
}

.nav1>div>a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav2>div>a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav3>div>a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn1 {
    text-decoration: none;
    padding: 10px;
    font-family: 'Pixelify Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: #000000;
    background-color: rgba(138, 159, 17, 0);
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border: 4px solid #050000;
    box-shadow: 3px 3px 12px #444444;
    -webkit-box-shadow: 3px 3px 12px #444444;
    -moz-box-shadow: 3px 3px 12px #444444;
}

strong{
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
}

.btn1:hover {
    padding: 15px;
    font-family: 'Pixelify Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 1px 1px 4px #f700ff;
    -webkit-box-shadow: 1px 1px 4px #f703f7;
    -moz-box-shadow: 1px 1px 4px #1900ff;
}

.btn2 {
    text-decoration: none;
    padding: 10px;
    font-family: 'Pixelify Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: #000000;
    background-color: #8a9f1100;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border: 4px solid #000000;
    box-shadow: 3px 3px 12px #444444;
    -webkit-box-shadow: 3px 3px 12px #444444;
    -moz-box-shadow: 3px 3px 12px #444444;
}


.btn2:hover {
    padding: 15px;
    font-family: 'Pixelify Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 1px 1px 4px #f700ff;
    -webkit-box-shadow: 1px 1px 4px #f703f7;
    -moz-box-shadow: 1px 1px 4px #1900ff;
}

.btn3 {
    text-decoration: none;
    padding: 10px;
    font-family: 'Pixelify Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: #000000;
    background-color: #ffffff00;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border: 4px solid #000000;
    box-shadow: 3px 3px 12px #444444;
    -webkit-box-shadow: 3px 3px 12px #444444;
    -moz-box-shadow: 3px 3px 12px #444444;
}


.btn3:hover {
    padding: 15px;
    font-family: 'Pixelify Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 1px 1px 4px #f700ff;
    -webkit-box-shadow: 1px 1px 4px #f703ff;
    -moz-box-shadow: 1px 1px 4px #1900ff;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #c1e0f7;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 9vmin;
    height: 9vmin;
    border-radius: 9vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 34;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #97f9f9;
    top: 40%;
    left: 14%;
    animation-duration: 118s;
    animation-delay: -104s;
    transform-origin: -15vw 11vh;
    box-shadow: 18vmin 0 3.050958324146801vmin currentColor;
}

.background span:nth-child(1) {
    color: #c59fc9;
    top: 31%;
    left: 19%;
    animation-duration: 37s;
    animation-delay: -99s;
    transform-origin: -2vw -13vh;
    box-shadow: -18vmin 0 2.7500461731178145vmin currentColor;
}

.background span:nth-child(2) {
    color: #97f9f9;
    top: 74%;
    left: 74%;
    animation-duration: 145s;
    animation-delay: -29s;
    transform-origin: -18vw -1vh;
    box-shadow: 18vmin 0 2.7470364761921164vmin currentColor;
}

.background span:nth-child(3) {
    color: #a4def9;
    top: 33%;
    left: 50%;
    animation-duration: 90s;
    animation-delay: -70s;
    transform-origin: -5vw -17vh;
    box-shadow: 18vmin 0 3.1279604380368506vmin currentColor;
}

.background span:nth-child(4) {
    color: #97f9f9;
    top: 65%;
    left: 19%;
    animation-duration: 115s;
    animation-delay: -115s;
    transform-origin: -24vw -2vh;
    box-shadow: 18vmin 0 2.281249229859159vmin currentColor;
}

.background span:nth-child(5) {
    color: #c59fc9;
    top: 75%;
    left: 32%;
    animation-duration: 96s;
    animation-delay: -52s;
    transform-origin: 6vw -12vh;
    box-shadow: 18vmin 0 2.946837288166952vmin currentColor;
}

.background span:nth-child(6) {
    color: #cfbae1;
    top: 43%;
    left: 61%;
    animation-duration: 9s;
    animation-delay: -36s;
    transform-origin: 19vw -5vh;
    box-shadow: -18vmin 0 3.2261278291165647vmin currentColor;
}

.background span:nth-child(7) {
    color: #c59fc9;
    top: 90%;
    left: 9%;
    animation-duration: 20s;
    animation-delay: -102s;
    transform-origin: 7vw 15vh;
    box-shadow: -18vmin 0 2.353743290970215vmin currentColor;
}

.background span:nth-child(8) {
    color: #97f9f9;
    top: 96%;
    left: 1%;
    animation-duration: 118s;
    animation-delay: -24s;
    transform-origin: 6vw -24vh;
    box-shadow: -18vmin 0 3.142743591541696vmin currentColor;
}

.background span:nth-child(9) {
    color: #a4def9;
    top: 28%;
    left: 75%;
    animation-duration: 49s;
    animation-delay: -130s;
    transform-origin: -14vw -7vh;
    box-shadow: -18vmin 0 2.663043777791583vmin currentColor;
}

.background span:nth-child(10) {
    color: #a4def9;
    top: 95%;
    left: 77%;
    animation-duration: 66s;
    animation-delay: -80s;
    transform-origin: 13vw 17vh;
    box-shadow: -18vmin 0 2.8777937869560324vmin currentColor;
}

.background span:nth-child(11) {
    color: #cfbae1;
    top: 69%;
    left: 11%;
    animation-duration: 18s;
    animation-delay: -120s;
    transform-origin: 0vw -23vh;
    box-shadow: -18vmin 0 3.2244485106036826vmin currentColor;
}

.background span:nth-child(12) {
    color: #a4def9;
    top: 6%;
    left: 52%;
    animation-duration: 137s;
    animation-delay: -17s;
    transform-origin: -6vw -23vh;
    box-shadow: 18vmin 0 2.6686744160800346vmin currentColor;
}

.background span:nth-child(13) {
    color: #c59fc9;
    top: 89%;
    left: 18%;
    animation-duration: 23s;
    animation-delay: -39s;
    transform-origin: -3vw 20vh;
    box-shadow: -18vmin 0 2.9552565575957015vmin currentColor;
}

.background span:nth-child(14) {
    color: #a4def9;
    top: 34%;
    left: 95%;
    animation-duration: 143s;
    animation-delay: -61s;
    transform-origin: 18vw 5vh;
    box-shadow: -18vmin 0 2.943870849911524vmin currentColor;
}

.background span:nth-child(15) {
    color: #97f9f9;
    top: 79%;
    left: 73%;
    animation-duration: 121s;
    animation-delay: -27s;
    transform-origin: 3vw -14vh;
    box-shadow: -18vmin 0 2.7934207937205553vmin currentColor;
}

.background span:nth-child(16) {
    color: #c59fc9;
    top: 39%;
    left: 92%;
    animation-duration: 133s;
    animation-delay: -16s;
    transform-origin: 16vw 18vh;
    box-shadow: 18vmin 0 2.71486372982959vmin currentColor;
}

.background span:nth-child(17) {
    color: #cfbae1;
    top: 61%;
    left: 37%;
    animation-duration: 15s;
    animation-delay: -65s;
    transform-origin: -2vw -3vh;
    box-shadow: 18vmin 0 3.090841053275443vmin currentColor;
}

.background span:nth-child(18) {
    color: #c59fc9;
    top: 77%;
    left: 96%;
    animation-duration: 14s;
    animation-delay: -52s;
    transform-origin: -19vw -8vh;
    box-shadow: -18vmin 0 2.8231126448141746vmin currentColor;
}

.background span:nth-child(19) {
    color: #97f9f9;
    top: 38%;
    left: 54%;
    animation-duration: 100s;
    animation-delay: -85s;
    transform-origin: 9vw -2vh;
    box-shadow: -18vmin 0 3.2255103397781446vmin currentColor;
}

.background span:nth-child(20) {
    color: #97f9f9;
    top: 66%;
    left: 22%;
    animation-duration: 95s;
    animation-delay: -72s;
    transform-origin: -11vw 17vh;
    box-shadow: 18vmin 0 2.6509781414734164vmin currentColor;
}

.background span:nth-child(21) {
    color: #a4def9;
    top: 90%;
    left: 89%;
    animation-duration: 85s;
    animation-delay: -158s;
    transform-origin: 18vw -22vh;
    box-shadow: -18vmin 0 2.8098861861660254vmin currentColor;
}

.background span:nth-child(22) {
    color: #c59fc9;
    top: 61%;
    left: 22%;
    animation-duration: 68s;
    animation-delay: -45s;
    transform-origin: 17vw 9vh;
    box-shadow: -18vmin 0 2.8990028394101683vmin currentColor;
}

.background span:nth-child(23) {
    color: #cfbae1;
    top: 99%;
    left: 11%;
    animation-duration: 20s;
    animation-delay: -91s;
    transform-origin: -19vw -16vh;
    box-shadow: -18vmin 0 2.323768454264846vmin currentColor;
}

.background span:nth-child(24) {
    color: #c59fc9;
    top: 24%;
    left: 44%;
    animation-duration: 67s;
    animation-delay: -159s;
    transform-origin: 6vw -1vh;
    box-shadow: 18vmin 0 2.5166225898374543vmin currentColor;
}

.background span:nth-child(25) {
    color: #97f9f9;
    top: 55%;
    left: 93%;
    animation-duration: 42s;
    animation-delay: -24s;
    transform-origin: -19vw -18vh;
    box-shadow: -18vmin 0 3.101423463979695vmin currentColor;
}

.background span:nth-child(26) {
    color: #97f9f9;
    top: 74%;
    left: 30%;
    animation-duration: 112s;
    animation-delay: -47s;
    transform-origin: 24vw -4vh;
    box-shadow: 18vmin 0 3.047637710256489vmin currentColor;
}

.background span:nth-child(27) {
    color: #c59fc9;
    top: 88%;
    left: 85%;
    animation-duration: 54s;
    animation-delay: -50s;
    transform-origin: -14vw 5vh;
    box-shadow: 18vmin 0 2.671104663825532vmin currentColor;
}

.background span:nth-child(28) {
    color: #97f9f9;
    top: 90%;
    left: 45%;
    animation-duration: 104s;
    animation-delay: -35s;
    transform-origin: -17vw 6vh;
    box-shadow: -18vmin 0 2.3252508260685123vmin currentColor;
}

.background span:nth-child(29) {
    color: #a4def9;
    top: 52%;
    left: 89%;
    animation-duration: 26s;
    animation-delay: -35s;
    transform-origin: 8vw 13vh;
    box-shadow: 18vmin 0 2.6082948079731727vmin currentColor;
}

.background span:nth-child(30) {
    color: #a4def9;
    top: 86%;
    left: 64%;
    animation-duration: 61s;
    animation-delay: -83s;
    transform-origin: 2vw 3vh;
    box-shadow: -18vmin 0 2.9969484055304676vmin currentColor;
}

.background span:nth-child(31) {
    color: #c59fc9;
    top: 17%;
    left: 50%;
    animation-duration: 9s;
    animation-delay: -42s;
    transform-origin: 23vw 4vh;
    box-shadow: 18vmin 0 2.8331403989741313vmin currentColor;
}

.background span:nth-child(32) {
    color: #97f9f9;
    top: 19%;
    left: 84%;
    animation-duration: 149s;
    animation-delay: -101s;
    transform-origin: 6vw 13vh;
    box-shadow: -18vmin 0 2.9281756967297787vmin currentColor;
}

.background span:nth-child(33) {
    color: #a4def9;
    top: 40%;
    left: 43%;
    animation-duration: 154s;
    animation-delay: -137s;
    transform-origin: -14vw -17vh;
    box-shadow: 18vmin 0 2.7832167756392456vmin currentColor;
}

.background span:nth-child(34) {
    color: #cfbae1;
    top: 23%;
    left: 69%;
    animation-duration: 9s;
    animation-delay: -2s;
    transform-origin: -9vw 3vh;
    box-shadow: 18vmin 0 2.46580947727331vmin currentColor;
}

.background span:nth-child(35) {
    color: #cfbae1;
    top: 15%;
    left: 75%;
    animation-duration: 78s;
    animation-delay: -109s;
    transform-origin: -3vw 18vh;
    box-shadow: 18vmin 0 2.898542453856227vmin currentColor;
}

.background span:nth-child(36) {
    color: #cfbae1;
    top: 70%;
    left: 27%;
    animation-duration: 98s;
    animation-delay: -42s;
    transform-origin: 3vw -11vh;
    box-shadow: 18vmin 0 2.470079592739037vmin currentColor;
}