*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(10px + 0.5vw);
}

.titre2 {
    font-family: 'Pixelify Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hobby {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Pixelify Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav>nav>a {
    font-family: 'Pixelify Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.para {
    font-family: 'Pixelify Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapvideo {
    display: flex;
    justify-content: center;
    padding-top: 10%;

}

.video {
    border: 20px dashed #000000;
    padding: 50px;
    width: 70%;
}

figcaption{
    font-family: 'Borel', cursive;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive > iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}